body {
  margin: 0;
}
h3 {
  font-size: 50px;
  margin-bottom: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: rgb(2, 2, 52);
  color: white;
}
p {
  background-color: rgb(4, 0, 20);
  padding: 60px;
  color: rgb(231, 72, 72);
  font-size: 50px;
}
.container-home,
.container-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  color: aqua;
  border: 3px solid aqua;
  padding: 15px;
  margin-left: 10px;
}
